*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Syne", sans-serif;
  line-height: 1.5;
}

a {
  color: black;
  text-decoration: none;
  -webkit-text-decoration: inherit;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

ol,
ul {
  list-style-type: none;
}

button {
  border: none;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.button {
  cursor: pointer;
  padding: 12px 40px;
}

.button__secondary {
  cursor: pointer;
  padding: 12px 40px;
  background-color: #622f60;
  border-radius: 208px;
  color: #f0ebe9;
}

.header {
  max-width: 1440px;
  margin: auto;
  padding: 0px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.header__nav {
  display: flex;
  height: 100%;
}
@media (max-width: 768px) {
  .header__nav {
    display: none;
  }
  .header__nav.active {
    display: flex;
    position: fixed;
    top: 80px;
    width: 100%;
    height: fit-content;
    left: 0px;
    max-width: 100%;
    z-index: 12;
    background-color: #f0ebe9;
  }
  .header__nav .header__nav-link {
    margin: 0px auto;
  }
}

.header__menu-toggle {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 23px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}
@media (max-width: 768px) {
  .header__menu-toggle {
    display: flex;
  }
}
.header__menu-toggle.active .header__menu-bar:nth-child(1) {
  transform: rotate(45deg) translate(8px, 5.5px);
}
.header__menu-toggle.active .header__menu-bar:nth-child(2) {
  opacity: 0;
}
.header__menu-toggle.active .header__menu-bar:nth-child(3) {
  transform: rotate(-45deg) translate(8.5px, -6.5px);
}

.header__menu-bar {
  height: 3px;
  width: 100%;
  background-color: #622f60;
  border-radius: 2px;
  transition: 0.3s ease;
}

.header__nav-list {
  display: flex;
  gap: 72px;
}
@media (max-width: 1024px) {
  .header__nav-list {
    gap: 16px;
    padding: 0 4px;
  }
}
@media (max-width: 768px) {
  .header__nav-list {
    flex-direction: column;
    width: 100%;
    gap: 20px;
    align-items: center;
    padding: 0;
  }
}

.header__nav-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__nav-item--selected {
  position: relative;
}
.header__nav-item--selected::after {
  content: "";
  width: 100%;
  height: 3px;
  background: #ff8f50;
  position: absolute;
  bottom: 0;
  left: 0;
}
.header__nav-item--selected::before {
  content: "";
  position: absolute;
  bottom: 3px;
  left: 50%;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #ff8f50;
  transform: translateX(-50%);
}
@media (max-width: 768px) {
  .header__nav-item {
    padding: 8px 0px;
    text-align: center;
    width: 100%;
    height: 60px;
  }
}

.header__nav-link {
  display: flex;
  gap: 4px;
  color: black;
  font-weight: lighter;
}

@media (max-width: 768px) {
  .header__button--hidden {
    display: none;
  }
}

.mt-4 {
  margin-top: 0.25rem !important;
}

.mb-4 {
  margin-bottom: 0.25rem !important;
}

.ml-4 {
  margin-left: 0.25rem !important;
}

.mr-4 {
  margin-right: 0.25rem !important;
}

.mx-4 {
  margin-right: 0.25rem !important;
  margin-left: 0.25rem !important;
}

.my-4 {
  margin-top: 0.25rem !important;
  margin-bottom: 0.25rem !important;
}

.pt-4 {
  padding-top: 0.25rem !important;
}

.pb-4 {
  padding-bottom: 0.25rem !important;
}

.pl-4 {
  padding-left: 0.25rem !important;
}

.pr-4 {
  padding-right: 0.25rem !important;
}

.px-4 {
  padding-left: 0.25rem !important;
  padding-right: 0.25rem !important;
}

.py-4 {
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important;
}

.mt-8 {
  margin-top: 0.5rem !important;
}

.mb-8 {
  margin-bottom: 0.5rem !important;
}

.ml-8 {
  margin-left: 0.5rem !important;
}

.mr-8 {
  margin-right: 0.5rem !important;
}

.mx-8 {
  margin-right: 0.5rem !important;
  margin-left: 0.5rem !important;
}

.my-8 {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}

.pt-8 {
  padding-top: 0.5rem !important;
}

.pb-8 {
  padding-bottom: 0.5rem !important;
}

.pl-8 {
  padding-left: 0.5rem !important;
}

.pr-8 {
  padding-right: 0.5rem !important;
}

.px-8 {
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
}

.py-8 {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

.mt-12 {
  margin-top: 0.75rem !important;
}

.mb-12 {
  margin-bottom: 0.75rem !important;
}

.ml-12 {
  margin-left: 0.75rem !important;
}

.mr-12 {
  margin-right: 0.75rem !important;
}

.mx-12 {
  margin-right: 0.75rem !important;
  margin-left: 0.75rem !important;
}

.my-12 {
  margin-top: 0.75rem !important;
  margin-bottom: 0.75rem !important;
}

.pt-12 {
  padding-top: 0.75rem !important;
}

.pb-12 {
  padding-bottom: 0.75rem !important;
}

.pl-12 {
  padding-left: 0.75rem !important;
}

.pr-12 {
  padding-right: 0.75rem !important;
}

.px-12 {
  padding-left: 0.75rem !important;
  padding-right: 0.75rem !important;
}

.py-12 {
  padding-top: 0.75rem !important;
  padding-bottom: 0.75rem !important;
}

.mt-16 {
  margin-top: 1rem !important;
}

.mb-16 {
  margin-bottom: 1rem !important;
}

.ml-16 {
  margin-left: 1rem !important;
}

.mr-16 {
  margin-right: 1rem !important;
}

.mx-16 {
  margin-right: 1rem !important;
  margin-left: 1rem !important;
}

.my-16 {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

.pt-16 {
  padding-top: 1rem !important;
}

.pb-16 {
  padding-bottom: 1rem !important;
}

.pl-16 {
  padding-left: 1rem !important;
}

.pr-16 {
  padding-right: 1rem !important;
}

.px-16 {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.py-16 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.mt-20 {
  margin-top: 1.25rem !important;
}

.mb-20 {
  margin-bottom: 1.25rem !important;
}

.ml-20 {
  margin-left: 1.25rem !important;
}

.mr-20 {
  margin-right: 1.25rem !important;
}

.mx-20 {
  margin-right: 1.25rem !important;
  margin-left: 1.25rem !important;
}

.my-20 {
  margin-top: 1.25rem !important;
  margin-bottom: 1.25rem !important;
}

.pt-20 {
  padding-top: 1.25rem !important;
}

.pb-20 {
  padding-bottom: 1.25rem !important;
}

.pl-20 {
  padding-left: 1.25rem !important;
}

.pr-20 {
  padding-right: 1.25rem !important;
}

.px-20 {
  padding-left: 1.25rem !important;
  padding-right: 1.25rem !important;
}

.py-20 {
  padding-top: 1.25rem !important;
  padding-bottom: 1.25rem !important;
}

.mt-24 {
  margin-top: 1.5rem !important;
}

.mb-24 {
  margin-bottom: 1.5rem !important;
}

.ml-24 {
  margin-left: 1.5rem !important;
}

.mr-24 {
  margin-right: 1.5rem !important;
}

.mx-24 {
  margin-right: 1.5rem !important;
  margin-left: 1.5rem !important;
}

.my-24 {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}

.pt-24 {
  padding-top: 1.5rem !important;
}

.pb-24 {
  padding-bottom: 1.5rem !important;
}

.pl-24 {
  padding-left: 1.5rem !important;
}

.pr-24 {
  padding-right: 1.5rem !important;
}

.px-24 {
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
}

.py-24 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}

.mt-32 {
  margin-top: 2rem !important;
}

.mb-32 {
  margin-bottom: 2rem !important;
}

.ml-32 {
  margin-left: 2rem !important;
}

.mr-32 {
  margin-right: 2rem !important;
}

.mx-32 {
  margin-right: 2rem !important;
  margin-left: 2rem !important;
}

.my-32 {
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
}

.pt-32 {
  padding-top: 2rem !important;
}

.pb-32 {
  padding-bottom: 2rem !important;
}

.pl-32 {
  padding-left: 2rem !important;
}

.pr-32 {
  padding-right: 2rem !important;
}

.px-32 {
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}

.py-32 {
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
}

.mt-36 {
  margin-top: 2.25rem !important;
}

.mb-36 {
  margin-bottom: 2.25rem !important;
}

.ml-36 {
  margin-left: 2.25rem !important;
}

.mr-36 {
  margin-right: 2.25rem !important;
}

.mx-36 {
  margin-right: 2.25rem !important;
  margin-left: 2.25rem !important;
}

.my-36 {
  margin-top: 2.25rem !important;
  margin-bottom: 2.25rem !important;
}

.pt-36 {
  padding-top: 2.25rem !important;
}

.pb-36 {
  padding-bottom: 2.25rem !important;
}

.pl-36 {
  padding-left: 2.25rem !important;
}

.pr-36 {
  padding-right: 2.25rem !important;
}

.px-36 {
  padding-left: 2.25rem !important;
  padding-right: 2.25rem !important;
}

.py-36 {
  padding-top: 2.25rem !important;
  padding-bottom: 2.25rem !important;
}

.cards-section {
  max-width: 1200px;
  padding: 0px 24px;
}
@media (max-width: 390px) {
  .cards-section {
    padding: 0px 15px;
  }
}
@media (max-width: 1024px) {
  .cards-section {
    margin: auto;
    margin-top: 24px;
  }
}
.cards-section__title {
  font-size: 22px;
  font-weight: 600;
  font-family: "Syne", sans-serif;
  text-align: left;
  color: #342e34;
  margin-bottom: 16px;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  z-index: 0;
  justify-items: center;
}
@media (max-width: 1024px) {
  .cards-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 768px) {
  .cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 576px) {
  .cards-container {
    grid-template-columns: 1fr;
  }
}

.card {
  max-width: 264px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  background-color: transparent;
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 24px;
}
@media (max-width: 576px) {
  .card {
    max-width: 360px;
  }
}
.card__image {
  position: relative;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  overflow: hidden;
}
.card__image img {
  width: 100%;
  height: auto;
}
.card__tag {
  position: absolute;
  top: 12px;
  right: 12px;
  background: #ff8f50;
  color: black;
  font-family: "Nunito", sans-serif;
  font-size: 12px;
  font-weight: 800;
  border-radius: 12px;
  padding: 4px 10px;
}
.card__content {
  font-weight: 700;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.card__location {
  font-family: "Syne", sans-serif;
  font-size: 14px;
  font-weight: 500;
}
.card__location strong {
  color: #622f60;
}
.card__title {
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  font-weight: 700;
  min-height: 54px;
}
.card__footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: #fbf6f4;
  padding: 12px 16px;
  border-bottom-right-radius: 24px;
  border-bottom-left-radius: 24px;
}
@media (max-width: 576px) {
  .card__footer {
    display: inline;
  }
}
.card__price {
  font-family: "Nunito", sans-serif;
  font-weight: 500;
  font-size: 12px;
  margin: 0;
  line-height: 19px;
}
.card__price strong {
  display: block;
  font-weight: 700;
  font-size: 22px;
}
.card__actions {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
@media (max-width: 576px) {
  .card__actions {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 12px;
  }
}
.card__toggle {
  background: none;
  border: none;
  color: #622f60;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 4px;
}
.card__toggle-text {
  text-decoration: underline;
  font-family: "Nunito", sans-serif;
  font-size: 14px;
}
.card__toggle-arrow {
  font-size: 14px;
  font-family: "Nunito", sans-serif;
  color: #622f60;
  font-weight: 600;
}
.card__toggle-arrow--down {
  transform: rotate(-90deg);
}
.card__toggle-arrow--up {
  transform: rotate(90deg);
}
.card__button {
  color: #622f60;
  background-color: white;
  padding: 12px 25px;
  border: 1px solid #622f60;
  border-radius: 999px;
  font-size: 14px;
  cursor: pointer;
}
.card__button:hover {
  background-color: #622f60;
  color: #f0ebe9;
  transition: background-color 0.3s ease;
}
@media (max-width: 576px) {
  .card__button {
    width: 100%;
  }
}
@media (max-width: 1440px) {
  .card:nth-child(3n) .card-detail {
    right: 0;
  }
}
@media (max-width: 768px) {
  .card:nth-child(odd) .card-detail {
    left: 0;
  }
}
@media (max-width: 768px) {
  .card:nth-child(even) .card-detail {
    right: 0;
  }
}

.card-detail {
  width: 400px;
  border-radius: 16px;
  overflow: hidden;
  background: white;
  font-family: "Nunito", sans-serif;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
  opacity: 0;
  pointer-events: none;
  transform: translateY(0);
  z-index: 3;
  position: absolute;
  top: 97%;
}
.card-detail--visible {
  opacity: 1;
  pointer-events: auto;
}
.card-detail__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fbf6f4;
  height: 56px;
  padding: 0 16px;
}
.card-detail__title {
  font-size: 18px;
  margin-left: 8px;
}
.card-detail__close {
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  border: none;
  background-color: #fbf6f4;
}
.card-detail__close:hover {
  color: #622f60;
  font-weight: 700;
}
.card-detail__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 184px;
  padding: 24px;
  border-top: 1px solid #E0D9E0;
  border-bottom: 1px solid #E0D9E0;
}
.card-detail__location {
  font-family: "Syne", sans-serif;
  font-size: 14px;
  font-weight: 500;
}
.card-detail__location strong {
  color: #622f60;
}
.card-detail__list {
  display: grid;
  gap: 4px;
  font-size: 16px;
  font-weight: 500;
}
.card-detail__items {
  display: flex;
  justify-content: space-between;
}
.card-detail__items-strong {
  font-size: 18px;
  font-weight: 700;
}
.card-detail__footer {
  background-color: #fbf6f4;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  padding: 0 24px;
}
.card-detail__footer-span--big {
  font-size: 22px;
}
@media (max-width: 430px) {
  .card-detail {
    position: fixed !important;
    top: 0px !important;
    left: 0 !important;
    width: 100vw !important;
    height: 100vh !important;
    z-index: 11;
    overflow-y: auto;
    border-radius: 0;
  }
  .card-detail__footer {
    background-color: white;
  }
}

.hidden {
  display: none !important;
}

.substance {
  display: flex;
  margin: auto;
  max-width: 1128px;
  padding-bottom: 72px;
}
@media (max-width: 1024px) {
  .substance {
    display: block;
  }
}

.openFilter {
  width: 152px;
  padding: 8px 14px;
  margin-left: 24px;
  display: none;
  font-size: 20px;
  font-weight: 600;
  font-family: "Nunito", sans-serif;
}
@media (max-width: 1024px) {
  .openFilter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fbf6f4;
    cursor: pointer;
    border-radius: 208px;
  }
}
@media (max-width: 768px) {
  .openFilter {
    margin: auto;
  }
}
.openFilter img {
  size: 24px;
  padding: 0;
  margin: 0;
}

.filter {
  background-color: #fbf6f4;
  width: 264px;
  border-radius: 16px;
  margin-top: 49px;
}
@media (max-width: 1024px) {
  .filter {
    display: none;
  }
  .filter.active {
    position: absolute;
    display: block;
    top: 0px;
    left: 0px;
    height: 100%;
    z-index: 10;
    border-radius: 0px;
    margin-top: 0px;
    box-shadow: 4px 0px 8px 0px rgba(0, 0, 0, 0.2);
  }
}
.filter__title {
  font-family: "Syne", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  padding: 28px 0;
  color: #342e34;
  border-bottom: 1px solid #f0ebe9;
  text-align: center;
  vertical-align: middle;
  position: relative;
}
@media (max-width: 1024px) {
  .filter__title {
    padding-left: 24px;
    text-align: left;
  }
}
.filter__title .close-icon {
  cursor: pointer;
  display: none;
  position: absolute;
  right: 24px;
  top: 28px;
}
@media (max-width: 1024px) {
  .filter__title .close-icon {
    display: block;
  }
}
.filter__section {
  margin: 12px 24px 32px 24px;
}
.filter__section:last-child {
  border-bottom: none;
}
.filter__section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 0.5rem;
  color: #000;
  transition: color 0.3s ease;
}
.filter__section-header.open {
  color: #d35400;
}
.filter__section-header.open .filter__arrow {
  transform: rotate(90deg);
  color: #d35400;
}
.filter__section-header.open .filter__section-title {
  color: #d35400;
}
.filter__section-title {
  font-family: "Nunito", sans-serif;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  font-weight: 500;
  transition: color 0.3s ease;
}
.filter__section-icon {
  width: 20px;
  height: 20px;
}
.filter__section-content {
  padding: 0;
  margin: 0 16px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}
.filter__section-content.visible {
  padding: 5px 0;
  max-height: 1000px !important;
}
.filter__option {
  display: flex;
  align-items: center;
  margin: 10px 0;
  position: relative;
}
.filter__checkbox {
  width: 18px;
  height: 18px;
  margin-right: 10px;
  cursor: pointer;
  accent-color: #d35400 !important;
}
.filter__label {
  font-size: 14px;
  color: #342e34;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  line-height: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.filter__info {
  width: 12px;
  height: 12px;
  margin-left: 5px;
  opacity: 0.6;
  cursor: pointer !important;
}
.filter__tooltip {
  position: fixed;
  background-color: white;
  padding: 5px 10px;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  font-size: 12px;
  color: #666;
  z-index: 9999;
  display: none;
}
.filter__tooltip.visible {
  display: block;
}
.filter__view-more {
  color: #622f60;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  font-family: "Nunito", sans-serif;
  text-decoration: underline;
  display: inline-block;
  margin-top: 5px;
  cursor: pointer;
}
.filter__input-range {
  font-family: "Nunito", sans-serif;
  width: 100%;
  padding: 10px;
  gap: 8px;
  color: #817781;
  background-color: #ffffff !important;
  border: 1px solid #622f60 !important;
  border-radius: 24px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin: 5px 0;
  display: flex;
  align-items: center;
}
.filter__input-range-icon {
  margin-right: 8px;
  color: #999;
}
.filter__arrow {
  color: #000;
  transition: transform 0.3s ease, color 0.3s ease;
}

@media (max-width: 390px) {
  .filter.active {
    width: 100%;
    position: fixed;
  }
}
.footer__logo {
  height: 128px;
  background-color: #FCF6F3;
  align-content: center;
}
.footer__copyright {
  height: 52px;
  align-content: center;
  text-align: center;
  font-size: 14px;
  background-color: #E0D9E0;
}

@media (max-width: 390px) {
  .footer__logo img {
    margin-left: 32px;
  }
}
@media (max-width: 744px) {
  .footer__logo img {
    margin-left: 24px;
  }
}
@media (max-width: 1023px) {
  .footer__logo img {
    margin-left: 40px;
  }
}
@media (min-width: 1024px) {
  .footer__logo {
    text-align: center;
  }
}
.slide {
  position: relative;
  background-image: url(/app/assets/images/slide.png);
  background-size: cover;
  background-position: center;
  height: 400px;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slide__content {
  display: flex;
  flex-direction: row;
  z-index: 1;
  width: 100%;
  height: 100%;
}
.slide__item {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  transition: opacity 2s ease;
  z-index: 0;
}
.slide__item.visible {
  width: 100%;
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.slide__item.fade-in {
  opacity: 1;
  z-index: 2;
  transition: opacity 1s ease;
}
.slide__item.fade-out {
  opacity: 0;
  z-index: 0;
  transition: opacity 1s ease;
}
.slide__title {
  font-size: 34px;
  font-weight: 700;
}
.slide__text {
  font-size: 24px;
  margin-top: 12px;
  margin-bottom: 48px;
  font-weight: 500;
}
.slide__button {
  background-color: #ff8f50;
  color: #4E250E;
  padding: 12px 40px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 208px;
}
.slide__button:hover {
  background-color: none;
}
.slide__dots {
  position: absolute;
  bottom: 24px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 8px;
}
.slide__dot {
  width: 10px;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.7215686275);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.slide__dot:hover, .slide__dot.active {
  background-color: #ff8f50;
}
.slide__dots {
  position: absolute;
  bottom: 32px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  z-index: 5;
  padding: 0;
}
.slide__dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.7215686275);
  cursor: pointer;
  transition: all 0.3s ease;
}
.slide__dot.active {
  background-color: #ff8f50;
}
.slide__arrow {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #E0D9E0;
  color: white;
  border: none;
  cursor: pointer;
  padding: 8px;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slide__arrow--left {
  left: 0px;
}
.slide__arrow--right {
  right: 0px;
}

@media (max-width: 430px) {
  .slide {
    z-index: 0;
  }
}
.adventure-intro {
  text-align: center;
  align-content: center;
  padding-top: 72px;
  padding-bottom: 72px;
}
.adventure-intro__title {
  font-family: "Syne", sans-serif;
  font-size: 38px;
  font-weight: 700;
}
.adventure-intro__description {
  font-family: "Nunito", sans-serif;
  font-size: 22px;
  color: #6B7D8D;
  font-weight: 400;
  line-height: 26px;
  margin-top: 8px;
}
@media (max-width: 1024px) {
  .adventure-intro .adventure-intro {
    margin-bottom: 48px;
  }
}

@media (max-width: 743px) {
  .adventure-intro {
    margin-left: 32px;
    margin-right: 32px;
  }
  .adventure-intro__title {
    font-size: 30px;
  }
  .adventure-intro__description {
    font-size: 20px;
    margin-top: 16px;
  }
}
@media (max-width: 1022px) {
  .adventure-intro__title {
    font-size: 32px;
  }
}
@media (max-width: 1127px) {
  .adventure-intro__title {
    font-size: 34px;
  }
}
@media (max-width: 1540px) {
  .adventure-intro__title {
    font-size: 38px;
  }
}
.wrapper-substance {
  position: relative;
}

.text-start {
  text-align: start !important;
}

.text-end {
  text-align: end !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

.text-justify {
  text-align: justify !important;
}

/*# sourceMappingURL=styles.css.map */
