@use "../settings/_settings" as *;

// Mixins
@mixin respond-to($breakpoint) {
  @if $breakpoint == xs {
    @media (max-width: $breakpoint-xs) {
      @content;
    }
  } @else if $breakpoint == sm {
    @media (max-width: $breakpoint-sm) {
      @content;
    }
  } @else if $breakpoint == md {
    @media (max-width: $breakpoint-md) {
      @content;
    }
  } @else if $breakpoint == lg {
    @media (max-width: $breakpoint-lg) {
      @content;
    }
  } @else if $breakpoint == xl {
    @media (max-width: $breakpoint-xl) {
      @content;
    }
  }
}


@mixin flex($justifyContent: null, $alignItems: null, $flexDirection: null) {
  display: flex;

  @if $justifyContent !=null {
    justify-content: $justifyContent;
  }

  @if $alignItems !=null {
    align-items: $alignItems;
  }

  @if $flexDirection !=null {
    flex-direction: $flexDirection;
  }
}

@mixin button() {
  cursor: pointer;
  padding: 12px 40px;
}