@use "../settings/_settings" as *;
@use "../tools/_mixins" as *;

.hidden {
  display: none !important;
}

.substance {
  display: flex;
  margin: auto;
  max-width: 1128px;
  padding-bottom: 72px;

  @include respond-to(lg) {
    display: block;
  }

}

.openFilter {
  width: 152px;
  padding: 8px 14px;
  margin-left: 24px;
  display: none;
  font-size: 20px;
  font-weight: 600;
  font-family: $font-secondary;

  @include respond-to(lg) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $filter-color;
    cursor: pointer;
    border-radius: 208px;
  }

  @include respond-to(md) {
    margin: auto;
  }

  img {
    size: 24px;
    padding: 0;
    margin: 0;
  }
}

.filter {
  background-color: #fbf6f4;
  width: 264px;
  border-radius: 16px;
  margin-top: 49px;
  @include respond-to(lg) {
    display: none;
    &.active {
        position: absolute;
        display: block;
        top: 0px;
        left: 0px;
        height: 100%;
        z-index: 10;
        border-radius: 0px;
        margin-top: 0px;
        box-shadow: 4px 0px 8px 0px #00000033;

    }
  }

  &__title {
    font-family: $font-base;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    padding: 28px 0;
    color: #342e34;
    border-bottom: 1px solid #f0ebe9;
    text-align: center;
    vertical-align: middle;
    position: relative;
    @include respond-to(lg){
      padding-left: 24px;
      text-align: left;
    }

    & .close-icon {
      cursor: pointer;
      display: none;
      position: absolute;
      right: 24px;
      top: 28px;
      @include respond-to(lg){
        display: block;
      }
    }
  }

  &__section {
    margin: 12px 24px 32px 24px;

    &:last-child {
      border-bottom: none;
    }

    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      padding: 0.5rem;
      color: #000;
      transition: color 0.3s ease;

      &.open {
        color: #d35400;

        .filter__arrow {
          transform: rotate(90deg);
          color: #d35400;
        }

        .filter__section-title {
          color: #d35400;
        }
      }
    }

    &-title {
      font-family: $font-secondary;
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 14px;
      font-weight: 500;
      transition: color 0.3s ease;
    }

    &-icon {
      width: 20px;
      height: 20px;
    }

    &-content {
      padding: 0;
      margin: 0 16px;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.3s ease-out;

      &.visible {
        padding: 5px 0;
        max-height: 1000px !important;
      }
    }
  }

  &__option {
    display: flex;
    align-items: center;
    margin: 10px 0;
    position: relative;
  }

  &__checkbox {
    width: 18px;
    height: 18px;
    margin-right: 10px;
    cursor: pointer;
    accent-color: #d35400 !important;
  }

  &__label {
    font-size: 14px;
    color: #342e34;
    font-family: $font-secondary;
    font-weight: 600;
    line-height: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }

  &__info {
    width: 12px;
    height: 12px;
    margin-left: 5px;
    opacity: 0.6;
    cursor: pointer !important;
  }

  &__tooltip {
    position: fixed;
    background-color: white;
    padding: 5px 10px;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    font-size: 12px;
    color: #666;
    z-index: 9999;
    display: none;
  }

  &__tooltip.visible {
    display: block;
  }

  &__view-more {
    color: #622f60;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    font-family: $font-secondary;
    text-decoration: underline;
    display: inline-block;
    margin-top: 5px;
    cursor: pointer;
  }

  &__input-range {
    font-family: $font-secondary;
    width: 100%;
    padding: 10px;
    gap: 8px;
    color: #817781;
    background-color: #ffffff !important;
    border: 1px solid #622f60 !important;
    border-radius: 24px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin: 5px 0;
    display: flex;
    align-items: center;

    &-icon {
      margin-right: 8px;
      color: #999;
    }
  }

  &__arrow {
    color: #000;
    transition: transform 0.3s ease, color 0.3s ease;
  }
}

@media (max-width: 390px) {
   .filter.active{
      width: 100%;
      position: fixed;
   } 
  }