$font-base: 'Syne', sans-serif;
$font-secondary: 'Nunito', sans-serif;
$weight-700: 700;

$primary-color: #ff8f50;
$secondary-color: #622f60;
$filter-color: #fbf6f4;
$color-gray-100: #E0D9E0;
$color-white-100: #f0ebe9;
$color-white: white;

$breakpoint-xs: 390px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1440px;

$desktop-width: 1440px;